html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #111720;
    color: white;
    padding: 0;
    height: 80px;
}

.h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    align-items: flex-start;
}

#container {
    position: absolute;
    background-color: #ff0000;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    gap: 0;
}

.hidden{
    display: none;
}

@media (max-width: 600px) {
    .hidden{
        text-align: center;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 48px;
    }
    #container {
        display: none;
    }
    .clear{
        display: none;
    }
}

.cell {
    position: relative;
    display: flex;
    background-color: white;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.buttons{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    gap: 20px;
}

input[type="range"] {
    -webkit-appearance: none; /* Remove default */
    width: 200px;
    height: 6px;
    background: #ddd;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #192330;
    border-radius: 50%;
    border: 2px solid #333;
    transition: background 0.2s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #192330;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    background: #192330;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
}

.multiColor, .pickColor, .erase, .clear{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
}

.multiColor{
    background-color: #111720;
    color: white;
}

.pickColor{
    background-color: #ffaeae;
    color: white;
}

.erase{
    background-color: #9c9c9c;
    color: white;
}

.clear{
    background-color: #ff0000;
    color: white;
}

.multiColor:hover{
    background-color: #0000ff;
}

.multiColor:active{
    background-color: #aeaeff;
}

.pickColor:hover{
    background-color: #ff0000;
}

.pickColor:active{
    background-color: #ffaeae;
}

.erase:hover{
    background-color: #7a7a7a;
}

.erase:active{
    background-color: #c4c4c4;
}

.clear:hover{
    background-color: #ff7575;
}

.clear:active{
    background-color: #ffaeae;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #111720;
    color: white;
    padding: 15px;
}
